<ul>
  <nav style="background-color:DodgerBlue; text-align:center;font-size:30px;">
    <a href="/http://127.0.0.1:8080//">  home</a> |
    <a href="/http://127.0.0.1:8081//">footer</a> |
    <a href="/js/">JavaScript</a> |
    <a href="/python/">Python</a>
  
  </nav>
  <section style =  margin-top:0px;margin-bottom:200px;margin-right:150px;margin-left:1500px; >
    <form action="" method="">          
      
      <input type="search"   lightblue; placeholder ="What are you looking for?">               
        <button>Search</button>
    </form>
  </section>
</ul>

<h1 style="background-color:rgb(153, 142, 134); text-align:center; font-size:100px;">cake</h1>





